.h2Center {
  text-align: center;
}

.content {
  display: table;
  width: 100%;
}

.contentCenter {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.partAccordion {
  width: 50%;
  margin: 0 auto;
}

h2, ul {
  padding: 10px;
}

.formContent {
  width: 50%;
  margin: 0 auto;
}

#help {
  width: 25%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

th {
  text-align: center;
}
